<% content_for :title do %>Raphael Reiter - Music<% end %>

			<div class="fload">
			    <a href="www.raphaelreiter.com" class="close skip">Skip</a>
					<p class="review1">" The music is wonderful, deep in atmosphere yet clear in texture and expressive intent. I was captivated ! He plays like a master and has obviously drawn into his orbit his colleagues of outstanding abilities. Bravo, Bravi tutti! "<br><span>Pulitzler Prize-winning composer Yehudi Wyner</span></p>
					<p class="review2">" Very beautiful sound and lyrical conception of improvisation "<br><span>Conrad Herwig</span></p>
					<p class="review3">" Poignant... "<br><span>Eric Reed</span></p>
			</div>
			<script>
        var timer = setTimeout(function() {
            window.location='www.raphaelreiter.com'
        }, 43563);
    </script>