// import the CSS framework
@import "foundation";

$main-color-full: rgba(23, 50, 58, 1);
$main-color-background: rgba(23, 50, 58, 0.46);
$button-background: rgba(156, 152, 133, 0.3);
$links: rgba(156, 152, 133, 0.6);
$button-background-full: rgba(156, 152, 133, 1);

body {
	line-height: 1;
	opacity: 1;
	height:100vh;
	width:100vw;
	margin:0 auto;
	overflow:hidden;
	color:#fff;
	background: url('raph.jpg') no-repeat;
	background-size: cover;
	font-family: 'Crimson Text', serif;
	 -webkit-animation: intro 8s 1;
     	-moz-animation: intro 8s 1;
     	 -ms-animation: intro 8s 1;
      	 -o-animation: intro 8s 1;
			animation: intro 8s 1;
	-webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
  		animation-iteration-count: 1;
}

@keyframes intro {
  0% { z-index: 100; transform: translateX(); opacity: 0;}
  100% { z-index: 100; transform: translateX(); opacity: 1;}
}

.reviews {display:block;}

.review1,.review2,.review3 {
	opacity: 0;
	font-size: 2em;
	color: white;
	text-shadow: 2px 2px 9px #17323a;
  	padding: 10px 20px;
  	text-align: center;
  	margin: 0 auto;
  	position: fixed;
    top: 127px;
    left: 5%;
    width: 90vw;
    max-width: 700px;
    /*overflow:scroll;*/
    z-index: -1;
    span {
    	font-size: 0.8em;}
    @media (max-width: 640px) {
			font-size: 1.7em;
    	   span {
    		font-size: 0.7em;}}
   	@media screen and (max-width: 570px) and (max-height: 350px) {
    	font-size: 1em;
    	   	span {
    			font-size: 0.6em;}}
    @media (max-width: 460px) {
			font-size: 1.5em;
    	   span {
    		font-size: 0.6em;}}
    @media (max-width: 380px) {
			font-size: 1.3em;
    	   span {
    		font-size: 0.6em;}}
    @media (max-width: 315px) {
			font-size: 1em;
    	   span {
    		font-size: 0.6em;}}
    @media (max-height: 350px) {
		top: 106px;}
    @media (max-height: 460px) {
    	height: 61vh;} 
    @media (max-height: 400px) {
    	height: 58vh;} 
    @media (min-height: 560px) {
    	top: 29%;
    	height: 63vh;}
    @media (min-height: 700px) {
    	top: 206px;}
    @media (min-height: 900px) {
    	top: 240px;}	
    @media (min-width: 942px) {
		margin-left: 5%;}
}

.review1 {
 -webkit-animation: review1 50s 1;
     -moz-animation: review1 50s 1;
      -ms-animation: review1 50s 1;
       -o-animation: review1 50s 1;
          animation: review1 50s 1;
  -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-iteration-count: 1;
}

@keyframes review1 {
  0%, 8.333% { z-index: 100; transform: translateX(); opacity: 0;}
  25% { z-index: 100; transform: translateX(); opacity: 1;}
  50%, 100% { z-index: 100; transform: translateX(); opacity: 0;}
}


.review2 {
 -webkit-animation: review2 50s 1;
     -moz-animation: review2 50s 1;
      -ms-animation: review2 50s 1;
       -o-animation: review2 50s 1;
          animation: review2 50s 1;
  -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-iteration-count: 1;
}

@keyframes review2 {
    0%, 50% { z-index: 100; transform: translateX(); opacity: 0;}
    62.5% { z-index: 100; transform: translateX(); opacity: 1;}
    75%, 100% { z-index: 100; transform: translateX(); opacity: 0;}
}

.review3 {
 -webkit-animation: review3 50s 1;
     -moz-animation: review3 50s 1;
      -ms-animation: review3 50s 1;
       -o-animation: review3 50s 1;
          animation: review3 50s 1;
  -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-iteration-count: 1;
}

@keyframes review3 {
    0%, 75% { z-index: 100; transform: translateX(); opacity: 0;}
    83.333% { z-index: 100; transform: translateX(); opacity: 1;}
    91.666%, 100% { z-index: 100; transform: translateX(); opacity: 0;}
}

.pcontent {
	opacity: 1;
 -webkit-animation: pcontent 30s 1;
     -moz-animation: pcontent 30s 1;
      -ms-animation: pcontent 30s 1;
       -o-animation: pcontent 30s 1;
          animation: pcontent 30s 1;
  -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-iteration-count: 1;
}

@keyframes pcontent {
    0%, 87.5% { z-index: 100; transform: translateX(); opacity: 0;}
    100% { z-index: 100; transform: translateX(); opacity: 1;}
}

h1, h2, h3, h4, h5, h6 {font-family: 'Crimson Text', serif;}

html{
	width:100%;
	height:100%;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/********************/
a {
	color: $links;
	text-decoration:none;
	text-shadow: 2px 1px 0px rgba(23, 50, 58, 0.46);
	&:hover {
		color: $main-color-full;
	-webkit-transition: background .5s ease-out;
		-moz-transition: background .5s ease-out;
			-o-transition: background .5s ease-out;
				transition: background .5s ease-out;}
}


::selection {
	background:$main-color-background; /* Safari */
	color:#fff;
	}
::-moz-selection {
	background:$main-color-background; /* Firefox */
	color:#fff;
}



/************************************************************************************************************/
/************************************************************************************************************/

#left {
	position:absolute;
	top:8%;
	left:-40px;
	width:100%;
	background:none;
	z-index:5;
	@media (min-height: 560px) {
	margin-top:36px;}
}

#menu_btn {
	float:left;
	background:$button-background;
	cursor:pointer;
	width: 124px;
	border: 1px solid rgba(0,0,0, 0.45);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
	height:60px;
	position:relative;
    margin-left:62px;
    vertical-align: center;
    display: block;
     -webkit-animation: #main_menu 20s;
	     -moz-animation: #main_menu 20s;
	      -ms-animation: #main_menu 20s;
	       -o-animation: #main_menu 20s;
	          animation: #main_menu 20s;
	&:hover{
		background:$links;}
		-webkit-transition: background .5s ease-out;
				-moz-transition: background .5s ease-out;
				-o-transition: background .5s ease-out;
				transition: background .5s ease-out;
	a {
	    padding-left: 10px;
	    line-height: 60px;
	    &:hover{
	    color: $main-color-full;
	    opacity: 0.9;}}	
}

#logo {
	float:left;
   	width:60px;
	padding:0 50px;
	text-align:center;
	z-index:3;
	position:relative;
	&:after,&:before{
			content:"";
			position:absolute;
			right:0;
			opacity: 0.6;
			border: 1px solid rgba(0,0,0, 0.45);
    				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
			width:100px;
			height:55px;
			background: $main-color-full;
			z-index:-1;
		}
		&:before{
			top:3px;
			opacity: 0.7;
			transform:rotate(20deg);
				-ms-transform:rotate(20deg);
				-webkit-transform:rotate(20deg);
			transform-origin: 100% 0;
			    -ms-transform-origin: 100% 0;
			    -webkit-transform-origin: 100% 0;
			    -o-transform-origin: 100% 0;
		}
		&:after{
			top:3px;
			overflow:hidden;
			transform:rotate(-20deg);
				-ms-transform:rotate(-20deg);
				-webkit-transform:rotate(-20deg);
			transform-origin: 100% 100%;
			    -ms-transform-origin: 100% 100%;
			    -webkit-transform-origin: 100% 100%;
			    -o-transform-origin: 100% 100%;
		}
}

/*************************************
			MENU
**************************************/

#main_menu{
		position:relative;
		top: 8%;
		margin-left: 2%;
		max-width: 545px;
		@media (max-height: 350px) {
		top: 2%;} 
		@media (min-width: 520px) {
		margin-left: 5%;}
		@media (min-width: 942px) {
		margin-left: 10%;}
		ul li {
			background: $button-background;
			float:left;
			width: 100%;
   			 -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
			padding: 0 5px;
			text-align:center;
			-moz-box-sizing: border-box;
       			box-sizing: border-box;
			margin: 3px;
			color: #fff;
			line-height: 55px;
			text-shadow: 2px 2px 9px $main-color-full;
        	font-weight: thinner;
			font-size: 18px;
			letter-spacing: 3px;

			-webkit-transition: background .5s ease-out;
				-moz-transition: background .5s ease-out;
				-o-transition: background .5s ease-out;
				transition: background .5s ease-out;
			@media screen and (max-width: 570px) and (max-height: 350px) {
    			font-size: 15px;
				line-height: 48px;}
			@media screen and (max-width: 570px) and (max-height: 315px) {
				line-height: 40px;}
			@media (min-width: 700px) {
			padding: 0 25px;}
			@media (max-width: 360px) {
			font-size: 15px;}
			&:hover {
				background: $button-background-full;}
			a {
				color: #fff;
			}
		}
		ul.lvl1 {
			top: 0;
			left: 0;
			padding-top: 100px;
			width: 90%;
			height: 99px;
			@media (min-height: 560px) {
			padding-top: 150px;}
			@media (min-height: 760px) {
			padding-top: 220px;}
			@media (min-width: 1700px) and (min-height: 760px) {
			padding-top: 320px;}
			@media (min-width: 2070px) and (min-height: 900px) {
			padding-top: 450px;}
			/*
			@media (min-width: 430px) and (min-height: 550px) {
			padding-top: 200px;} */
			@media (min-width: 700px) {
			width: calc(100% + 30px);}
			/*
			@media (min-height: 560px) {
			margin-top:74px;}*/
		}
		li {
		/*  -webkit-transform: scale(1.1) opacity: 1; ;
		  -moz-transform: scale(1.1) opacity: 1; ;
		  -ms-transform: scale(1.1)  opacity: 1; ;
		  -o-transform: scale(1.1)  opacity: 1; ;
		  transform: scale(1.1)  opacity: 1; ;*/
		    z-index: 2;
		}
}
		
@keyframes #main_menu {
	0%, 50% { z-index: 1; transform: translateX(); opacity: 0;}
  	100% { z-index: 1; transform: translateX(); opacity: 1;}
}		
			
			

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 127px;
    left: 5%;
    background-color: $main-color-background;
    width: 90vw;
    max-width: 700px;
    height: 67vh;
    overflow:scroll;
    border: 1px solid rgba(0,0,0, 0.45);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
    padding: 20px;
    z-index: 2;
    @media (max-height: 350px) {
		top: 106px;}
    @media (max-height: 460px) {
    	height: 61vh;} 
    @media (max-height: 400px) {
    	height: 58vh;} 
    @media (min-height: 560px) {
    	top: 29%;
    	height: 63vh;}
    @media (min-height: 700px) {
    	top: 206px;}
    @media (min-height: 900px) {
    	top: 240px;}	
    @media (min-width: 942px) {
		margin-left: 5%;}
   /* @media (min-width: 430px) and (min-height: 550px) {
	    height: 50vh;
	    top: 195px;
	    padding: 2px 16px;}*/
}


.dropdown:focus .dropdown-content{
    display: block;
}

.show {display:block;}

.dontshow {opacity: 0;}

.close {
    padding: 0px 9px 2px;
    position: fixed;
    top: 132px;
    left: calc(10% + 10px);
    z-index: 100;
    border-radius: 14px;
    @media (max-height: 350px) {
		top: 110px;}
    @media (min-height: 560px) {
    	top: 30%;}
    @media (min-height: 700px) {
    	top: 212px;}
    @media (min-height: 900px) {
    	top: 247px;}	
     @media (max-width: 942px) {
		left: calc(5% + 10px);}
}

p {
	font-size: 1em;
    line-height: 1.3em;
	text-align: center;
}

h2,h4 {
	text-align: center;
    padding: 5px;
    color: white;
}

footer {
	position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    padding: 6px 10px;
    height: 28px;
    color: $main-color-full;
    background: black;
    @media screen and (max-width: 570px) and (min-height: 350px) {
    	height: 48px;}
    section {
    @media screen and (max-width: 570px) and (min-height: 350px) {
        float:none;
        margin: 0 auto;
        width:100%;
        text-align:center;
        &:last-of-type {
          margin-top: 4px;;}}}
}

.left,
.right {
    display: block;
    padding: 0px 10px;
}

.right {
	span {
		@media (max-width: 380px) {
			display: none;}
		@media screen and (max-width: 570px) and (max-height: 350px) {
    	display:none;}
	}
} 

.social-icon {
	width: 20px;
}

input[type="text"],
input[type="email"],
textarea {
	color: black;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
}

.submit {
	background:$button-background;
	cursor:pointer;
	width: 124px;
	height: 50px;
	margin-top: 20px;
	margin-left: 105px;
	@media (max-width: 500px){
		margin: 20px auto;
    	display: block;}
	&:hover{
		background:$links;
	}
}



::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 10px;
    background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7); 
    background-color: rgba(156, 152, 133, 0.2);
    border: 1px solid rgba(0,0,0,0.55);
}

::-webkit-scrollbar-corner {
  background: transparent;
}



.music {
	position: fixed;
    top: 15px;
    display: none;
    @media (min-width: 800px) {
    	display: block;
		left: calc(600px + 2%);
	}
	 @media (min-width: 1160px) {
		left: calc(700px + 2%);
	}
	#content1 {
		padding: 0;
    	margin: 0;
    	line-height: 0px;
    	height: 34px;
	    	.button2 {
	    	background: #17323a;
		    border: 1px solid rgba(0,0,0, 0.55);
		    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
		    color: rgba(156, 152, 133, 0.6);
			width: 34px;
		    height: 34px;
		    line-height: 0px;
		    z-index: 100;
		    padding: 0;}
	}
}

audio {
	margin: 0 auto;
    display: block;
    width: 100%;
}

.skip {
	margin-top: -40px;
	left: calc(90% - 8.5%);
	padding-top: 2px;
	text-shadow:none;
	&:hover {background: $links;}
}

.dropdown {
	.show {
	top: 60px;}
}

.top {
	top: 60px;
	@media (min-width: 800px) {
		left: calc(600px + 2%);
	}
	@media (min-width: 1000px) {
		left: calc(700px + 2%);
	}
}

.social {
    position: fixed;
    top: 10px;
    right: 9px;
    width: 20px;
    z-index: 1000;
    opacity: 0.5;
    @media (min-width: 800px) {
		bottom: 25px;
		top: initial;
		width: 30px;
	}
	@media screen and (max-width: 570px) and (min-height: 350px) and (max-height: 450px) {
		bottom: 10px;
		top: initial;
	}
    &:hover {
	-webkit-transition: opacity .5s ease-out;
		-moz-transition: opacity .5s ease-out;
			-o-transition: opacity .5s ease-out;
				transition: opacity .5s ease-out;
  		opacity: 1;}
}

.social-icon {
	fill: $button-background-full;
  stroke: $main-color-background;
  stroke-width: 1;
  	@media (min-width: 800px) {
	width: 27px;
    height: 27px;
	}
  &:hover {
  	fill: $main-color-background;
  	stroke: $button-background-full;
  }
}
