			<div class="hide">
                <div class="playicn" id="content1"><button onClick="play()" class="button2 "><%= audio_tag "08 Poulenc - Priez pour paix.wav", class: "audio-play", id: "audio1", autoplay: true, preload: true %></button></div>
            </div>