
  <section class="left">
    Raphael Reiter Music &copy; 2016
  </section>
  <section class="right">
    Created by  <a href="http://www.orfeoetlorchidee.com" target="blank">Orfeo et L'Orchidée</a>
     All rights reserved
  </section>
