  <section class="left">
    Raphael Reiter Music &copy; 2016
  </section>
  <section class="right">
    Powered by <a href="http://www.orfeoetlorchidee.com" target="blank">Orfeo et L'Orchidée</a>
     <span>All rights reserved</span>
  </section>
