<%# navigation styled for Zurb Foundation 5 %>
<nav id="logo" class="" data-topbar>
  <ul id="menu_btn" class="title-area">
    			<%= render 'layouts/navigation_links' %>
  <%#  <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li> %>
  </ul>
</nav>
